<div class="section">
  <div class="container is-flex is-justify-content-center">
    <div class="content is-medium is-narrow" style="width: 480px">
      <h2>Login</h2>
      <%= simple_form_for(resource, as: resource_name, url:
      session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <%= f.text_field :email, required: true, autofocus: true,
            autocomplete: "email", class: "input" %>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <%= f.password_field :password, required: true, class: "input"%>
          </div>
        </div>
        <div>
          <%= f.check_box :remember_me, as: :boolean if
          devise_mapping.rememberable? %>
          <span style="font-size: 14px">Remember me</span>
        </div>
      </div>

      <div class="control">
        <%= f.submit "Submit", class: "button is-primary", style: "width: 100%;
        margin-top: 40px;" %>
      </div>
      <% end %>
      <div style="font-size: 14px; text-align: center; margin-top: 16px">
        <span><%= render "devise/shared/links" %></span>
      </div>
    </div>
  </div>
</div>
