<% content_for:page_title, @post.title %>

<section class="section">
    
    <div class="container">
        
        <div class="content">
            <div >
            <% if @post.image.attached? %>
                <%= image_tag @post.image %>
            <% end %>
            </div>
            
            <%= @post.content %>
            
        </div>
        
        
    </div>
</section>


<section class="section comment">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @post.comments.count %> Comments </strong></h2>
        <%= render @post.comments %>
        
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
            <% if user_signed_in? %>
                <%= render 'comments/form' %>
            <% else %>
                <%= link_to "Register", new_user_registration_path, class:"navbar-item" %>
                <%= link_to "Login", new_user_session_path, class:"navbar-item" %>
            <% end %>
        </div>
        
    </div>
</section>






